/**
 * Twilio theme for Reveal.js
 *
 * Written by Rob Spectre, 2015.
 */
@import url(../bower_components/reveal.js/lib/font/source-sans-pro/source-sans-pro.css);
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #232323; }

section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fffff9;
  background-color: #fffff9; }

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #232323; }

::selection {
  color: #fff;
  background: #62ddff;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #232323;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.3em; }

.reveal h2 {
  font-size: 2.3em; }

.reveal h3 {
  font-size: 1.9em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #00b1e1;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #2fd3ff;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #007595; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #232323;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #00b1e1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #00b1e1; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #00b1e1; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #00b1e1; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #00b1e1; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #2fd3ff; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #2fd3ff; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #2fd3ff; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #2fd3ff; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #00b1e1;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal section {
  height: 100%; }

.reveal .green {
  background-color: #00bc70; }

.reveal .blue {
  background-color: #00b1e1; }

.reveal .orange {
  background-color: #f36c3f; }

.reveal .black {
  background-color: #232323; }

.reveal .white {
  background-color: #fffff9; }

.reveal .darkgray {
  background-color: #5b6670; }

.reveal .gray {
  background-color: #cfd2d3; }

.reveal h1 {
  text-align: center;
  background: #00bc70;
  color: #fff;
  width: 100%;
  float: right;
  position: absolute;
  right: 0;
  bottom: -0.2em; }

.reveal img {
  background: none !important;
  border: none !important;
  box-shadow: none !important; }

.reveal .title h3 {
  font-size: 1.6em;
  margin-bottom: -0.1em; }

.reveal .bio {
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  background: rgba(255, 255, 255, 0.9);
  border: 4px solid #232323;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal .bio h3, .reveal .bio h4 {
  color: #232323;
  text-transform: none; }

.reveal .headline {
  background: none;
  height: 100%;
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center; }

.reveal .chart, .reveal .network, .reveal .map, .reveal .timeline {
  margin: 0;
  height: 85%; }

.fragment.chart, .fragment.network, .fragment.timeline {
  display: none; }

.reveal .map {
  height: 90%; }

.reveal .map img {
  max-height: none;
  max-width: none;
  box-shadow: none;
  border: none; }

html.img-right div.slide-background.present {
  background-position: right center; }

html.img-left div.slide-background.present {
  background-position: left center; }

html.img-bottom div.slide-background.present {
  background-position: bottom; }

html.img-top div.slide-background.present {
  background-position: top; }

.logo {
  margin: 0 auto 0 auto;
  height: 250px;
  background-image: url("../images/childsafeai/svg/animated/logo-animated-side.svg");
  background-repeat: no-repeat;
  background-position: center; }

.title h3 {
  text-align: right;
  padding: 0.25em 0.5em 0.25em 0.5em;
  float: right;
  clear: right; }

.intro .title h3 {
  background-color: #00bc70;
  color: #fffff9;
  visibility: hidden; }

.title .title h3 {
  background-color: #fffff9;
  color: #232323; }

.animated {
  visibility: visible !important; }

.visible {
  visibility: visible !important; }

.masked {
  opacity: 0 !important; }

.reveal .vis-timeline {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 0.5em; }

.vis-item {
  background-color: #cfd2d3;
  color: #fffff9; }

.vis-item.vis-line, .vis-item.vis-dot {
  border-color: #cfd2d3; }

.vis-item.vis-selected {
  background-color: #00bc70;
  border-color: #00bc70; }

.reveal .timeline {
  height: 3em;
  margin-bottom: 1em; }

.reveal .chat-window {
  width: auto;
  height: 100%;
  padding: 2em 0 0 0;
  background-color: #cfd2d3; }

.chat-window ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%; }

.chat-window ul li {
  display: inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  color: #fffff9; }

.chat-window .him {
  background: #00b1e1;
  float: left; }

.chat-window .me {
  float: right;
  background: #00bc70; }

.chat-window .him + .me {
  border-bottom-right-radius: 5px; }

.chat-window .me + .me {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.chat-window .me:last-of-type {
  border-bottom-right-radius: 30px; }
